{% extends "RT_MW/base.html" %}
{% block title %}Project Calendar!{% endblock %}
{% block body_button %}
                <div class="pro-list-button">
                <div style="width:86px; float:left;">
                    <form id="login_form" method="get" action="/user_interface/create_project/">
                            <input class="button tiny" type="submit" name="create_new_project" value="Create">
                    </form>
                </div>

                <div style="width:76px; float:left;">
                    <form id="login_form" method="get" action="/user_interface/join_project/">
                        <span style="position:relative"><input class="button tiny" type="submit" name="join_project" value="Join"></span>
                    </form>
                </div>

                <div style="width:76px; float:right;">
                    <form id="invite_member" method="get" action="invite_member/">
                        <input type="hidden" name="projName" value="{{ project.projName }}" />
                        <input class="button tiny" type="submit" name="join_project" value="Invite">
                    </form>
                </div>
            </div>
{% endblock %}

{% block body_block %}
      <fieldset>
      {% for s in specs %}
      <legend style="background: #f2f2f2;">Tick</legend>
      <div class="row">
        <div class="large-8 columns">
                  <table>
                        <thead>
                        <tr>
                          <th width="100">Name</th>
                          <th width="30">Priority</th>
                          <th width="160">Description</th>
                          <th width="160">DateTime</th>
                        </tr>
                        </thead>

                        <tbody>

                                <tr>
                                  <td><label> {{ s.attrTitle }}</label></td>
                                  <td><label> {{ s.priority }}</label></td>
                                  <td><label> {{ s.attrDesc }}</label></td>
                                  <td><label> {{ s.attrDate }}</label></td>
                                </tr>

                        </tbody>
                  </table>
            <div >
           <div class="large-4 columns">
            <form id="tick_todo_attr" method="post" action="/project_detail/{{ projectid }}/detail_todo_attr/{{ s.attrID }}/tick_todo_attr/">
					{% csrf_token %}
					{% if s.flag %}
						<input id='tick' name='tick' type="checkbox" checked/>
					{% else %}
						<input id='tick' name='tick' type="checkbox"/>
                        <input id='attrID' name='attrID' type="hidden" value='{{ s.attrID }}'/>
					    <input type="submit" value="Save" class="button tiny"/>
					{% endif %}
		  </form>

          </div>
           <form id="delete_todo_attr" method="get" action="/project_detail/{{ projectid }}/detail_todo_attr/{{ s.attrID }}/delete_todo_attr/">
					<input type="submit" value="Delete"  class="button tiny"/>
		    </form>
            </div>

        </div>
         </div>
      {% endfor %}
         </fieldset>
{% endblock %}
