{% extends "RT_MW/base.html" %}
{% block title %}Create TODO Attribute!{% endblock %}
{% block body_block %}
              <form data-abide id="create_TODO" method="post" action="/project_detail/{{projectid}}/create_todo_attr/" enctype="multipart/form-data">
                  <fieldset>
                  <legend style="">Create Attribute </legend>
                                 {% csrf_token %}
                                {% for field in attr_form.visible_fields %}
{#                                    {% if field.help_text == "Priority" %}#}
{#                                             <div >#}
{#                                                <label>{{ field.help_text}} <small>required</small>#}
{#                                                {{ field }}#}
{#                                                 </label>#}
{#                                            </div>#}
{#                                         <div class="con_left_cate_id"> </div>#}
{#                                         {{ field }}#}
{#                                    {% else %}#}
                                     <div >
                                        {% if field.help_text == "Priority" %}
                                             {{ field.help_text}} <small>required</small>
                                            <div class="row">
                                            <div class="large-6 medium-6 columns" style="display:inline;">
                                            {% for radio in field %}

                                                    {{ radio }}
{#                                                     {{ field }}#}
                                            {% endfor %}
                                            </div>
                                            </div>
                                        {% else %}
                                             <label>{{ field.help_text}} <small>required</small>
                                                     {{ field }}
                                             </label>
                                        {% endif %}

                                    </div>
{#                                    {% endif %}#}
                                 {% endfor %}
                                    <div >
                                        <label>New category: <input type="text" name="new_category" /></label>
                                    </div>
                            	<p class="add_btn">
									 <input type="submit" name="submit" value="Create Attribute" class="logButton-larger" />
								</p>
                  </fieldset>
              </form>
{% endblock %}
