{% extends "RT_MW/base.html" %}
{% block title %}Invite a member!{% endblock %}
{% block body_block %}

 <div class="row">
    <div class="large-8 columns">

    <fieldset>
    <legend style="background: #f2f2f2;">Search</legend>
        <form id="search_form" method="post" action="/project_detail/{{projectid}}/search_member/">
            {% csrf_token %}
            <label><small>* </small>Member Name:
                <input type="text" name="search_textfield"/>
                <input type="submit" name="Search" value="Search" class="button tiny">
            </label>
        </form>


            <div class="row schTable">

                <div class="large-8 columns">
                   <table>
                        <thead>
                        <tr>
                          <th width="100">Full Name</th>
                        </tr>
                        </thead>

                        <tbody>
                       {% if users %}
                            {% for user in users %}
                                <tr>
                                  <td>{{ user.first_name }} {{ user.last_name }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                                <tr>
                                  <td>None</td>
                                </tr>
                        {% endif %}
                        </tbody>
                  </table>

                </div>
            </div>

        {% if invited %}
            Inviting the member has been failed.
        {% endif %}
   </fieldset>
        <br/>

    <fieldset>
        <legend style="background: #f2f2f2;">Invite</legend>
        <form id="login_form" method="post" action="/project_detail/{{projectid}}/invite_member/">
            {% csrf_token %}
            <label><small>* </small>Member Name: </label>
            <input type="text" name="member_name"/><br/>
            <input type="submit" name="Join" value="Invite" class="button tiny">
        </form>
    </fieldset>
    </div>
  </div>
{% endblock %}

