<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title> Requirement Tracker - {% block title %} {% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
		<link type="text/css" rel="stylesheet" href="{% static 'css/foundation.css' %}">
		<link type="text/css" rel="stylesheet" href="{% static 'css/normalize.css' %}">
        {% block jsfile %} {% endblock %}
	</head>
	<body>
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="/user_interface/">Requirements Tracker</a></h1>
            </li>
          </ul>

          <section class="top-bar-section">

            <!-- Left Nav Section -->
            <ul class="user-pro">
              <li><a href="#">Welcome <span >{{ user.username }}</span</li>
              <li class="active"><a href="/logout/">Logout</a></li>
            </ul>
          </section>
        </nav>



    <div class="row">
    <div class="large-3 columns">
      	<div class="panel list" >
         <h5>Project List: </h5>
             <div class="pro-list">
                        {% if projects %}
                    <ul >
                        {% for project in projects %}
                        <li><a href="/project_detail/{{ project }}">{{ project }}</a></li>
                        {% endfor %}
                    </ul>
                         {% else %}
                                <strong>no projects</strong>
                         {% endif %}
             </div>
             <div class="row">
                 {% block body_button %}

                 {% endblock %}
             </div>


      	</div>

             {% block attr_list%}

             {% endblock %}
{#      </div>#}
    </div>
{#      <div class="large-5 columns">#}
{#      </div>#}

        <div class="large-8 columns user_inter">
      	<div class="panel user_attr_priority" >
            {% block body_block %}

            {% endblock %}
        </div>
        </div>

    </div>
{#    <div class="row" style="position:absolute;bottom:0;width:100%;">#}
{#            <label for="copyright" align="center"> &copy2014 Matrix </label>#}
{#    </div>#}
{#	<table style="position:absolute;bottom:0;width:100%; height:45px" align= "center"; cellspacing="0">#}
{#        <tr class="bottom">#}
{#				<td>#}
{#					<div align=right>#}
{#						<table class="bottomTable"><tr>#}
{#								<td><label for="copyright"> &copy2014 Matrix </label></td>#}
{#								</tr>#}
{#						</table>#}
{#					</div>#}
{#				</td>#}
{#			</tr>#}
{#        </table>#}
	</body>
</html>