{% extends "RT_MW/base2.html" %}
{% block title %}Project Calendar!{% endblock %}
{% block body_button %}
                <div class="pro-list-button">
                <div style="width:90px; float:left;">
                    <form id="login_form" method="get" action="/user_interface/create_project/">
                            <input class="button tiny" type="submit" name="create_new_project" value="Create">
                    </form>
                </div>

                <div style="width:90px; float:right;">
                    <form id="login_form" method="get" action="/user_interface/join_project/">
                        <span style="position:relative">
                            <input class="button tiny" type="submit" name="join_project" value="Join"></span>
                    </form>
                </div>

            </div>
{% endblock %}

{% block body_block %}
	<div class="panel">

			<fieldset>
				<legend style="background: #f2f2f2;">TODO List (Ordered by deadline due):</legend>
				<div class="row">
                    <div class="large-12 columns">
					<table>
						<thead>
							<tr>
								<th width="100">Title</th>
								<th width="80">Deadline</th>
								<th width="80">Priority</th>
								<th width="80">Description</th>
								<th width="80">Project</th>
								<th width="80">Category</th>
								<th width="80">Checked</th>
							</tr>
						</thead>



                        <tbody>
                        {% if attrs %}

                            {% for s in attrs %}
                            <tr>
                                {% if not s.flag %}
								<td><a href="/project_detail/{{ s.projID }}/single_todo_attr/{{s.attrID}}">{{ s.attrTitle }}</a></td>
								<td>{{ s.attrDate }}</td>
								<td>{{ s.priority }}</td>
								<td>{{ s.attrDesc }}</td>
								<td><a href="/project_detail/{{s.projID.projName}}/">{{ s.projID.projName }}</a></td>
								<td>{{ s.cateID.cateName }}</td>
								{% endif %}
                            <tr>
                            {% endfor %}
                        {% else %}
                            <tr>
								<td>None</td>
								<td>None</td>
								<td>None</td>
								<td>None</td>
								<td>None</td>
								<td>None</td>
                            <tr>
                        {% endif %}
                        </tbody>

					</table>
                </div>
				</div>
			</fieldset>
	</div>
{#	<script type="text/javascript">#}
{##}
{#		$(document).ready(function()#}
{#		{#}
{#			var date = new Date();#}
{#			var d = date.getDate();#}
{#			var m = date.getMonth();#}
{#			var y = date.getFullYear();#}
{##}
{#			/*#}
{#				Initialize fullCalendar and store into variable.#}
{#				Why in variable?#}
{#				Because doing so we can use it inside other function.#}
{#				In order to modify its option later.#}
{#			*/#}
{##}
{#			var calendar = $('#calendar').fullCalendar(#}
{#			{#}
{#				/*#}
{#					header option will define our calendar header.#}
{#					left define what will be at left position in calendar#}
{#					center define what will be at center position in calendar#}
{#					right define what will be at right position in calendar#}
{#				*/#}
{#				header:#}
{#				{#}
{#					left: 'prev,next today',#}
{#					center: 'title',#}
{#					right: 'month'#}
{#				},#}
{#				/*#}
{#					defaultView option used to define which view to show by default,#}
{#					for example we have used agendaWeek.#}
{#				*/#}
{#				defaultView: 'month',#}
{#				/*#}
{#					selectable:true will enable user to select datetime slot#}
{#					selectHelper will add helpers for selectable.#}
{#				*/#}
{#				selectable: false,#}
{#				selectHelper: false,#}
{#				/*#}
{#					when user select timeslot this option code will execute.#}
{#					It has three arguments. Start,end and allDay.#}
{#					Start means starting time of event.#}
{#					End means ending time of event.#}
{#					allDay means if events is for entire day or not.#}
{#				*/#}
{#				select: function(start, end, allDay)#}
{#				{#}
{#					/*#}
{#						after selection user will be promted for enter title for event.#}
{#					*/#}
{#					var title = prompt('Event Title:');#}
{#					/*#}
{#						if title is enterd calendar will add title and event into fullCalendar.#}
{#					*/#}
{#					if (title)#}
{#					{#}
{#						calendar.fullCalendar('renderEvent',#}
{#							{#}
{#								title: title,#}
{#								start: start,#}
{#								end: end,#}
{#								allDay: allDay#}
{#							},#}
{#							true // make the event "stick"#}
{#						);#}
{#					}#}
{#					calendar.fullCalendar('unselect');#}
{#				},#}
{##}
{#				editable: false,#}
{##}
{#				events: [#}
{##}
{#				]#}
{##}
{#			});#}
{##}
{#		});#}
{##}
{#	</script>#}
{#        <div id='calendar'></div>#}

{% endblock %}
{#{% block body_block %}#}
{##}
{#    <div class="large-4 medium-5 columns">#}
{#            <div class="callout panel">#}
{##}
{#              <p>Attribute1--Project 1</p>#}
{#            </div>#}
{#    </div>#}
{##}
{#    <div class="large-4 medium-5 columns">#}
{#            <div class="callout panel">#}
{##}
{#              <p>Attribute1--Project 1</p>#}
{#            </div>#}
{#    </div>#}
{##}
{#    <div class="large-4 medium-5 columns">#}
{#            <div class="callout panel">#}
{##}
{#              <p>Attribute1--Project 1</p>#}
{#            </div>#}
{#    </div>#}
{#    <div class="large-4 medium-5 columns">#}
{#            <div class="callout panel">#}
{##}
{#              <p>Attribute1--Project 1</p>#}
{#            </div>#}
{#    </div>#}
{##}
{#    <div class="large-4 medium-5 columns">#}
{#            <div class="callout panel">#}
{##}
{#              <p>Attribute1--Project 1</p>#}
{#            </div>#}
{#    </div>#}
{#        <div class="large-4 medium-5 columns">#}
{#            <div class="callout panel">#}
{##}
{#              <p>Attribute1--Project 1</p>#}
{#            </div>#}
{#    </div>#}
{#        <div class="large-4 medium-5 columns">#}
{#            <div class="callout panel">#}
{##}
{#              <p>Attribute1--Project 1</p>#}
{#            </div>#}
{#    </div>#}
{#        <div class="large-4 medium-5 columns">#}
{#            <div class="callout panel">#}
{##}
{#              <p>Attribute1--Project 1</p>#}
{#            </div>#}
{#    </div>#}
{#        <div class="large-4 medium-5 columns">#}
{#            <div class="callout panel">#}
{##}
{#              <p>Attribute1--Project 1</p>#}
{#            </div>#}
{#    </div>#}
{#        <div class="large-4 medium-5 columns">#}
{#            <div class="callout panel">#}
{##}
{#              <p>Attribute1--Project 1</p>#}
{#            </div>#}
{#    </div>#}
{##}
{##}
{#{% endblock %}#}