<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title> Requirement Tracker - {% block title %} {% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
		<link type="text/css" rel="stylesheet" href="{% static 'css/foundation.css' %}">
		<link type="text/css" rel="stylesheet" href="{% static 'css/normalize.css' %}">
            	<!--FullCalendar Dependencies-->
	    <link href="{% static 'css/fullcalendar/fullcalendar.css' %}"  rel='stylesheet' />
	    <link href='{% static 'css/fullcalendar/fullcalendar.print.css' %}' rel='stylesheet' media='print' />

	<!--jQuery-->
	    <script src="{% static 'js/jquery/jquery-1.9.1.min.js' %}"></script>
	    <script src="{% static 'js/jquery/jquery-ui-1.10.2.custom.min.js' %}"></script>

	<!--FullCalendar-->
	    <script src="{% static 'css/fullcalendar/fullcalendar.min.js' %}"></script>
        {% block jsfile %} {% endblock %}

	<body>
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="/user_interface/">Requirements Tracker</a></h1>
            </li>
          </ul>

          <section class="top-bar-section">

            <!-- Left Nav Section -->
            <ul class="user-pro">
              <li><a href="#">Welcome <span >{{ user.username }}</span</li>
              <li class="active"><a href="/logout/">Logout</a></li>
            </ul>
          </section>
        </nav>



    <div class="row">
    <div class="large-3 columns">
{#      <div class="large-5 columns">#}
      	<div class="panel list" id="list_project">
         <h5>Project List: </h5>
             <div class="pro-list">
                        {% if projects %}
                    <ul >
                        {% for project in projects %}
                        <li><a href="/project_detail/{{ project }}">{{ project }}</a></li>
                        {% endfor %}
                         {% else %}
                                <strong>no projects</strong>
                         {% endif %}
             </div>
             <div class="row">
                 {% block body_button %}

                 {% endblock %}
             </div>


      	</div>

             {% block attr_list%}

             {% endblock %}
{#      </div>#}
    </div>

        <div class="large-8 columns user_inter">
                   {% block detail_project %}
                    {% endblock %}
      	<div class="panel user_attr_priority" >

                             {% block body_block %}
                             {% endblock %}
        </div>

        </div>



    </div>
{#    <div class="row" style="position:absolute;bottom:0;width:100%;">#}
{#            <label for="copyright" align="center"> &copy2014 Matrix </label>#}
{#    </div>#}
	</body>
</html>